# Laravel
/vendor
/node_modules
/.env
/.env.backup
/.phpunit.cache
/storage/*.key
/public/hot
/public/storage
/public/app
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Frontend
/frontend/node_modules
/frontend/build

# IDE
/.idea
/.vscode
*.swp
*.swo
.DS_Store
